$black-color: #000;
$white-color: #fff;
$gray-color: #808080;

$button-height: 200px;
$button-width: 400px;
$font-size-large: 40px;
$hover-opacity: .6;

$background-image-wall: '../assets/wall.jpg';
$background-image-rug: '../assets/rug.jpg';
