// Background image paths
$wall-image: url(./assets/wall.jpg);
$rug-image: url(./assets/rug.jpg);

// Colors
$button-bg-color: black;
$button-text-color: white;
$button-hover-bg-color: white;
$button-hover-text-color: black;

// Z-index values
$z-index-high: 4;
$z-index-default: 1;

