// Colors
$background-color: gray;
$button-bg-color: black;
$button-hover-bg-color: white;
$text-color: white;
$text-hover-color: black;

// Image paths
$wall-image: url(./assets/wall.jpg);
$rug-image: url(./assets/rug.jpg);

// Z-index
$z-index-default: 1;
$z-index-character: 4;
