body{
    background:url(./assets/wall.jpg) repeat-x, url(./assets/rug.jpg);
}

/* below are the images alphabetically */
img:hover{
    opacity: .6;
}
.items{
    display:flex;
}
#question-icon{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 10em;
}
#chair{
    position: absolute;
    top: 10em;
    left: 65em;
    width: 12em;
    height: 12em;
}
#character{
    position: absolute;
    top: 15em;
    left: 40em;
    transition: top 0.5s ease, left 0.5s ease;
    height: 10em;
    z-index: 4;
}
#coffee-table{
    position: absolute;
    top: 22em;
    left: 10em;
    width: 40em;
    height: 15em;
    z-index: 1;
}
#controller{
    position: absolute;
    top: 25em;
    left: 15em;
    height: 3em;
    width: 3em;
    z-index: 1;
}
#couch{
    position: absolute;
    top: 10em;
    left: 10em;
    width: 40em;
    height: 12em;
}
#lamp{
    position: absolute;
    top: 8em;
    left: 54em;
    z-index: 1;
}
#remote{
    position: absolute;
    top: 25em;
    left: 45em;
    width: 1em;
    height: 3em;
    z-index: 1;
}
#safe{
    position: absolute;
    top: 25em;
    left: 70em;
    z-index: 1;
}
#stand{
    position: absolute;
    top: 30em;
    left: 60em;
    height: 10em;
    width: 30em;
}
#table{
    position: absolute;
    top: 13em;
    left: 52em;
    height: 10em;
    width: 10em;
}
#tv{
    position: absolute;
    top: 1em;
    left: 30em;
    width: 20em;
}

h1{
    position:fixed;
    top: 18em;
    left: 10em;
    background-color: gray;
    z-index: 1;
    margin: 100px;
}
button{
    position:fixed;
    left: 35em;
    background-color: black;
    color: white;
    height: 200px;
    width: 400px;
    font-size: 40px;
}
button:hover{
    background-color: white;
    color: black;
}
p{
    display:none
}


/* testing drop down menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}
.dropdown a:hover {
    background-color: #f1f1f1;
}